@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  src: url('/assets/fonts/Inter-roman.var.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  src: url('/assets/fonts/Inter-italic.var.woff2') format('woff2');
}

/* purgecss start ignore */
html, body {
  @apply h-full;
}

html {
  @apply antialiased;
  font-size: 16px; /* Force the definition of 16px as 1rem */
}

#root {
  @apply w-full overflow-hidden
}

body {
  @apply antialiased;
}

/* purgecss end ignore */
